#container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 480px;
    max-height: 480px;
    border:1px solid black;
}
.box {
    background: white;
    margin: 0px;
    padding: 0px;
    flex: 1 1 auto;
  
}

.hover {
    background: purple;
}
.button {
    color:pink;
    margin:20px;
}
#btn {
    background:pink;
}

.tiny{
    height: 30px;
    width: 30px;
}
.small {
    height: 15px;
    width: 15px;
}
.medium {
    height: 7.5px;
    width: 7.5px;

}
